### Importing Libraries

In [1]:
import pandas as pd
import numpy as np

### Reading csv file

In [20]:
lifespans = pd.read_csv('familiar_lifespan.csv')
lifespans.head()

     pack   lifespan
0    vein  76.255090
1  artery  76.404504
2  artery  75.952442
3  artery  76.923082
4  artery  73.771212

### Filtering lifespans dataframe for Familiar's most basic package, Vein

In [12]:
vein_pack_lifespans = lifespans.lifespan[lifespans.pack == 'vein']
vein_pack_lifespans.head()

0     76.255090
7     74.502021
8     76.937674
9     74.838006
11    77.484756
Name: lifespan, dtype: float64

### Average lifespan for Vein Pack subscribers

In [22]:
vein_pack_lifespans.mean()

76.16901335636044

### Hypothesis to check if the average lifespan of a Vein Pack subscriber is significantly different from the average life expectancy of 73 years

In [14]:
from scipy.stats import ttest_1samp
ttest, pval = ttest_1samp(vein_pack_lifespans, 73)
pval

5.972157921433211e-07

### Extracting the lifespans of subscribers to the Artery Pack

In [15]:
artery_pack_lifespans = lifespans.lifespan[lifespans.pack == 'artery']
artery_pack_lifespans.head()

1    76.404504
2    75.952442
3    76.923082
4    73.771212
5    74.117420
Name: lifespan, dtype: float64

### Average lifespan for Artery Pack subscribers

In [16]:
artery_pack_lifespans.mean()

74.87366223517039

### Hypothesis to check if the average lifespan of a Vein Pack subscriber is significantly different from the average life expectancy for the Artery Pack

In [17]:
from scipy.stats import ttest_ind
ttest, pval = ttest_ind(artery_pack_lifespans, vein_pack_lifespans)
pval

0.05588883079070819

### Reading the csv file

In [21]:
iron = pd.read_csv('familiar_iron.csv')
iron.head()

     pack    iron
0    vein     low
1  artery  normal
2  artery  normal
3  artery  normal
4  artery    high

### Contingency table of the pack and iron columns

In [18]:
Xtab = pd.crosstab(iron.pack, iron.iron)
Xtab

iron    high  low  normal
pack
artery    87   29      29
vein      20  140      40

### Hypothesis to check if there is a significant association between which pack (Vein vs. Artery) someone subscribes to and their iron level

In [19]:
from scipy.stats import chi2_contingency
chi2, pval, dof, expected = chi2_contingency(Xtab)
pval

9.359749337433008e-25